@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot');
  src:  url('icomoon.eot') format('embedded-opentype'),
    url('icomoon.ttf') format('truetype'),
    url('icomoon.woff') format('woff'),
    url('icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

}


.owl-prev {
    background-color: #9B9B9B;
    padding:10px 25px 10px 15px;
    color:#fff;
    width:20px
}
.owl-next {
    background-color: #9B9B9B;
    padding:10px 25px 10px 15px;
    color:#fff;
    width:20px;
}


.icon-light-bulb:before {
  content: "\e90a";
}
.icon-cancel:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-right-arrow:before {
  content: "\e906";
}
.icon-hamburger:before {
  content: "\e907";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-google-plus:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-skype:before {
  content: "\e904";
}

