/**********************/
/*phones*/
/**********************/
@media (max-width:480px) {
    .hero {
        background-image:url(../images/hero.png) !important;
        height:550px !important;
    }  
    .hero-img {
        width:40% !important;
        margin-top:38%;
        margin-bottom: 10%;
    }
    .hero-h1 {
        font-size: 23px !important;
        margin-bottom: 20px;
    }
     /*section3*/
    .quote {
        margin-top:50px;
    }
    .g-quote > h2{
        margin-top: -280px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    
    
    /*section2*/
    .about {
        margin-top:20%;
        margin-bottom: 10%;
    }
    /*section3*/
    .scew-left-to-right:before{
        /*was 200*/
        height: 100px; 
    }
    .scew-right-to-left:before {
        height: 100px;
    }
    .why-choose {
         margin-top:-250px;
    }
    .why-choose-p {
        margin-top:150px;
    }
    /*section3*/
    .quote {
        margin-top:50px;
    }
    .g-quote > h2{
        margin-top: -280px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
         margin-bottom:5%;
    }
    .social-media a{
        font-size:20px;
    }
    .owl-prev {
        margin-left: -45px;
    }
    .owl-next {
        margin-right: -45px;
        margin-top:-40px;
    }
}

/**********************/
/*small*/
/**********************/
@media (min-width:481px) and (max-width:768px) {
    .hero {
        background-image:url(../images/hero.png) !important;
        height:600px !important;
    } 
    .hero-img {
        width:40%;
        margin-top:120px;
        margin-bottom: 10%;
    }
    .hero-h1 {
        font-size: 25px !important;
        margin-bottom: 20px;
    }
    /*section2*/
    .about {
        margin-top:20%;
        margin-bottom: 10%;
    }
    /*section3*/
    .scew-left-to-right:before{
        /*was 200*/
        height: 100px; 
    }
    .scew-right-to-left:before {
        height: 200px;
    }
    .why-choose {
         margin-top:-45%;
    }
    .why-choose-p {
        margin-top:35%;
    }
    /*section3*/
    .quote {
        margin-top:80px;
    }
    .g-quote > h2{
        margin-top: -260px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
    }
    .social-media a{
        font-size:25px;
    }
    .owl-prev {
        margin-left: -50px;
    }
    .owl-next {
        margin-right: -50px;
        margin-top:-40px;
    }
}

/**********************/
/*medium*/
/**********************/
@media (min-width:769px) and (max-width:992px) {
    p {
        font-size: 16px !important;
    }
    .hero {
        background-image:url(../images/hero_sm.png) !important;
        height:650px !important;
    } 
    .hero-img{
        width:35%;
        margin-top:20%;
        margin-bottom: 5%;
    }
    .hero-h1 {
        font-size: 25px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:10%;
        margin-bottom: 5%;
    }
    /*section3*/
    .scew-left-to-right:before{
        /*was 200*/
        height: 150px; 
    }
    .scew-right-to-left:before {
        height: 200px;
    }
    .why-choose-p {
        margin-top:37%;
        margin-bottom:5%;
    }
    /*section3*/
    .quote {
        margin-top:80px;
    }
    .g-quote > h2{
        margin-top: -260px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
        margin-top:26%;
        margin-bottom:7%;
    }
    .social-media a{
        font-size:30px;
    }
    .owl-prev {
        margin-left: -50px;
    }
    .owl-next {
        margin-right: -50px;
        margin-top:-40px;
    }
}

@media (min-width:769px) and (max-width:831px) {
     .triangle-down{
        padding-top: 35% !important;
    }
        .why-choose {
         margin-top:-40%;
    }
}

@media (min-width:832px) and (max-width:891px) {
     .triangle-down{
        padding-top: 33% !important;
    }
        .why-choose {
         margin-top:-36%;
    }
}

@media (min-width:892px) and (max-width:992px) {
     .triangle-down{
        padding-top: 30% !important;
    }
    .why-choose {
         margin-top:-33%;
    }
}



/**********************/
/*medium*/
/**********************/
@media (min-width:993px) and (max-width:1200px) {
    p {
        font-size: 18px !important;
    }
     .hero {
        background-image:url(../images/hero_md.png) !important; 
        height:680px !important;
    } 
    .hero-img {
        width:30%;
        margin-top:20%;
        margin-bottom: 5%;
    }
    .hero-h1 {
        font-size: 25px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:8%;
        margin-bottom: 6%;
    }
    /*section3*/
    .scew-left-to-right:before{
        height: 160px; 
    }
    .scew-right-to-left:before {
        height: 180px;
    }
     .triangle-down{
        padding-top: 15% !important;
         height:250px;
    }
    .triangle-down div {
        border-top: 200px solid #262626!important;
    }
    .block {
        height:150px;
        margin-top:60px;
        background-color: #262626!important;
        position:relative; 
        z-index:600;
    }
    .why-choose {
         margin-top:-35%;
    }
    .why-choose-p {
        margin-top:32%;
        margin-bottom:5%;
    }
    /*section3*/
    .quote {
        margin-top:80px;
    }
    .g-quote > h2{
        margin-top: -260px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
    }
    .sub-heading > h1{
        font-size: 35px !important;
    }
    .sub-heading > p{
        font-size: 18px !important;
    }
    .body-heading > p {
        font-size: 20px !important;
    }
    .owl-prev {
        margin-left: -50px;
    }
    .owl-next {
        margin-right: -50px;
        margin-top:-40px;
    }
}

/**********************/
/*large*/
/**********************/
@media (min-width:1201px) and (max-width:1700px) {
    p {
        font-size: 20px !important;
    }
    .hero {
        background-image:url(../images/hero_lg.png) !important; 
        height:800px !important;
    } 
    .hero-img {
        width:40%;
        margin-top:15%;
        margin-bottom: 5% !important;
    }
    .hero-h1 {
        font-size: 25px !important;
        margin-bottom: 20px;
    }
    /*section2*/
    .about {
        margin-top:9%;
        margin-bottom: 8%;
    }
    /*section3*/
    .scew-left-to-right:before{
        height: 230px; 
    }
    .scew-right-to-left:before {
        height: 230px;
    }
     .triangle-down{
        padding-top: 10% !important;
         height:250px;
         margin-top: -5px;
    }
    .triangle-down div {
        border-top: 180px solid #262626!important;
    }
    .block {
        height:250px;
        margin-top:80px;
        background-color: #262626!important;
        position:relative; 
        z-index:600;
    }
    .why-choose {
         margin-top:-30%;
    }
    .why-choose-p {
        margin-top:25%;
    }
    /*section4*/
    .quote {
        margin-top:8%;
    }
    .g-quote > h2{
        margin-top: -300px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-335px;
    }
    img.scew-img {
        height:500px !important;
    }
    /*section 4*/
    .products {
         margin-top:20%;
         margin-bottom: 5%;
    }
    .owl-prev {
        margin-left: -150px;
    }
    .owl-next {
        margin-right: -150px;
        margin-top:-40px;
    }
}


/**********************/
/* extra large*/
/**********************/
@media (min-width:1701px) {
    .hero {
        background-image:url(../images/hero_lg.png) !important; 
        height:1000px !important;
    } 
    .hero-img {
        width:40%;
        margin-top:23%;
        margin-bottom: 5%;
    }
    .hero-h1 {
        font-size: 30px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:8%;
        margin-bottom: 10%;
    }
    .caption {
        font-size: 20px;
    }
    .XL-p {
        font-size: 21px;
    }
    .XL-h1 {
        font-size: 40px !important;
    }
    /*section3*/
    .scew-left-to-right:before{
        height: 266px; 
    }
    .scew-right-to-left:before {
        height: 266px;
    }
     .triangle-down{
        padding-top: 9% !important;
        height:250px;
        margin-top: -5px;
    }
    .triangle-down div {
        border-top: 200px solid #262626!important;
    }
    .block {
        height:300px;
        margin-top:90px;
        background-color: #262626!important;
        position:relative; 
        z-index:600;
    }
    .why-choose {
         margin-top:-25%;
    }
    .why-choose-p {
        margin-top:25%;
        margin-bottom:6%;
    }
    /*section4*/
    .quote {
        margin-top:70px;
    }
    .g-quote > h2{
        margin-top: -280px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    .xl-img {
        height:500px !important;
    }
    /*section 4*/
    .products {
         margin-top:270px;
    }
    .owl-prev {
        margin-left: -200px;
    }
    .owl-next {
        margin-right: -200px;
        margin-top:-40px;
    }
    /*section 5*/
    .scew-right-to-left-three {
        margin-bottom: -50px;
    }
}
