/**********************/
/*phones*/
/**********************/
@media (max-width:480px) {
    .hero {
        height:600px !important;
    }  
    .hero-content > img {
        width:60%;
        margin-top:0%;
        margin-bottom: 10%;
    }
    .hero-content > h1 {
        font-size: 25px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:20%;
        margin-bottom: 10%;
    }
    /*section3*/
    .scew-left-to-right:before{
        /*was 200*/
        height: 100px; 
    }
    .scew-right-to-left:before {
        height: 100px;
    }
    .why-choose {
         margin-top:-250px;
    }
    .why-choose-p {
        margin-top:150px;
    }
    /*section3*/
    .quote {
        margin-top:50px;
    }
    .g-quote > h2{
        margin-top: -280px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
    }
}

/**********************/
/*small*/
/**********************/
@media (min-width:481px) and (max-width:768px) {
    .hero {
        height:700px !important;
    } 
    .hero-content > img {
        width:60%;
        margin-top:0%;
        margin-bottom: 10%;
    }
    .hero-content > h1 {
        font-size: 25px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:20%;
        margin-bottom: 10%;
    }
    /*section3*/
    .scew-left-to-right:before{
        /*was 200*/
        height: 100px; 
    }
    .scew-right-to-left:before {
        height: 200px;
    }
    .why-choose {
         margin-top:-45%;
    }
    .why-choose-p {
        margin-top:35%;
    }
    /*section3*/
    .quote {
        margin-top:80px;
    }
    .g-quote > h2{
        margin-top: -260px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
    }
}

/**********************/
/*small*/
/**********************/
@media (min-width:769px) and (max-width:992px) {
    p {
        font-size: 16px !important;
    }
     .hero {
        height:700px !important;
    } 
    .hero-content > img {
        width:40%;
        margin-top:0%;
        margin-bottom: 5%;
    }
    .hero-content > h1 {
        font-size: 25px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:10%;
        margin-bottom: 5%;
    }
    /*section3*/
    .scew-left-to-right:before{
        /*was 200*/
        height: 150px; 
    }
    .scew-right-to-left:before {
        height: 200px;
    }
    .why-choose-p {
        margin-top:35%;
    }
    /*section3*/
    .quote {
        margin-top:80px;
    }
    .g-quote > h2{
        margin-top: -260px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
    }
}

@media (min-width:769px) and (max-width:831px) {
     .triangle-down{
        padding-top: 35% !important;
    }
        .why-choose {
         margin-top:-40%;
    }
}

@media (min-width:832px) and (max-width:891px) {
     .triangle-down{
        padding-top: 33% !important;
    }
        .why-choose {
         margin-top:-36%;
    }
}

@media (min-width:892px) and (max-width:992px) {
     .triangle-down{
        padding-top: 30% !important;
    }
    .why-choose {
         margin-top:-33%;
    }
}



/**********************/
/*medium*/
/**********************/
@media (min-width:993px) and (max-width:1200px) {
    p {
        font-size: 16px !important;
    }
     .hero {
        height:810px !important;
    } 
    .hero-content > img {
        width:40%;
        margin-top:0%;
        margin-bottom: 5%;
    }
    .hero-content > h1 {
        font-size: 25px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:8%;
        margin-bottom: 6%;
    }
    /*section3*/
    .scew-left-to-right:before{
        height: 160px; 
    }
    .scew-right-to-left:before {
        height: 160px;
    }
     .triangle-down{
        padding-top: 20% !important;
         height:200px;
    }
    .triangle-down div {
        border-top: 350px solid #262626!important;
    }
    .why-choose {
         margin-top:-33%;
    }
    .why-choose-p {
        margin-top:35%;
    }
    /*section3*/
    .quote {
        margin-top:80px;
    }
    .g-quote > h2{
        margin-top: -260px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
    }
}

/**********************/
/*large*/
/**********************/
@media (min-width:1201px) {
     .hero {
        height:870px !important;
    } 
    .hero-content > img {
        width:40%;
        margin-top:0%;
        margin-bottom: 5%;
    }
    .hero-content > h1 {
        font-size: 25px !important;
        margin-bottom: 40px;
    }
    /*section2*/
    .about {
        margin-top:8%;
        margin-bottom: 6%;
    }
    /*section3*/
    .scew-left-to-right:before{
        height: 200px; 
    }
    .scew-right-to-left:before {
        height: 200px;
    }
     .triangle-down{
        padding-top: 5% !important;
         height:200px;
    }
    .triangle-down div {
        border-top: 350px solid #262626!important;
    }
    .block {
        height:250px;
        margin-top:50px;
        background-color: #262626!important;
        position:relative; 
        z-index:600;
    }
    .why-choose {
         margin-top:-33%;
    }
    .why-choose-p {
        margin-top:35%;
    }
    /*section3*/
    .quote {
        margin-top:80px;
    }
    .g-quote > h2{
        margin-top: -260px !important;
    }
    .scew-right-to-left-two:before {
        height:250px;
        margin-top:-280px;
    }
    /*section 4*/
    .products {
         margin-top:200px;
    }
}
