@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

/*color one #5D5D5D*/

/**************************/
/*LOADER*/
/*************************/

.pace-on .pace-overlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .5s 0s, height 0s .5s;
    -moz-transition: opacity .5s 0s, height 0s .5s;
    -o-transition: opacity .5s 0s, height 0s .5s;
    transition: opacity .5s 0s, height 0s .5s;
}

.pace-done .pace-overlay {
    opacity: 0;
    height: 0;
}

.pace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
    -webkit-transition: opacity .5s 0s, height 0s .5s;
    -moz-transition: opacity .5s 0s, height 0s .5s;
    -o-transition: opacity .5s 0s, height 0s .5s;
    transition: opacity .5s 0s, height 0s .5s;
    -webkit-pointer-events: none;
    pointer-events: none;
/*
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
*/
}

.pace-inactive {
    height: 0;
    opacity: 0;
}

.pace-dot .pace .pace-progress {
    -webkit-transform: translate3d(0, 0, 0)!important;
    -moz-transform: translate3d(0, 0, 0)!important;
    transform: translate3d(0, 0, 0)!important;
    position: fixed;
    width: 100%;
    height: 100%;
}

.pace-dot .pace-progress-inner {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    margin-left: -30px;
    margin-right: -30px;
    -webkit-animation: scaleout 1s infinite ease-in-out;
    animation: scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

.pace-minimal.pace-on {
    background-size: auto;
}

.pace-minimal.pace-on #content,
.pace-minimal.pace-on .menu,
.pace-minimal.pace-on .top-bar {
    visibility: visible;
}

.pace-minimal .pace .pace-progress {
    position: absolute;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-counter .pace .pace-progress {
    z-index: 2000;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 200px!important;
    margin-top: -50px;
    margin-left: -100px;
    line-height: 100px;
    font-size: 60px;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0)!important;
    -moz-transform: translate3d(0, 0, 0)!important;
    transform: translate3d(0, 0, 0)!important;
}

.pace-counter .pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
}

.pace-overlay {
    background: #00A7C9;
}

.pace-dot .pace-progress-inner,
.pace-minimal .pace .pace-progress {
    background: #fff;
}

/**************************/
/*GENERAL*/
/*************************/


a:hover,
a:focus {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt-center {
    text-align: center !important;
}

h1 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #5D5D5D !important;
    font-size: 30px !important;
}

h2 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #5D5D5D !important;
    font-size: 25px !important;
}

h3 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #5D5D5D !important;
    font-size: 20px !important;
}

p {
    font-family: "Helvetica Neue", sans-serif;
    color: #5F5F5F;
    font-size: 15px;
}

p.caption {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #959595 !important;  
}

hr {
    height: 3px !important;
    color: #1C1C1C;
    background: #1C1C1C;
    font-size: 0;
    border: 0 !important;
    margin-left: 32%;
    margin-right: 32%;
}

.hr-white {
    height: 3px !important;
    color: #fff;
    background: #fff;
    font-size: 0;
    border: 0 !important;
    margin-left: 32%;
    margin-right: 32%;
}

.center-align {
    text-align: center;
}

.white {
    color: rgba(255, 255, 255, 0.89) !important;
}


/**************************/
/*NAVBAR*/
/*************************/

.hero {
    background-image:url(../images/hero.png) !important;
    width: 100%;
    max-width: 100%;
    background-size:cover;
    position:relative;
}

.hero-content {
    margin-top:15%;
}

.hero-content > h1{
    margin-top:4%;
    margin-bottom: 3%;
}

.navbar-brand > img{
    height:30px;
    left:3% !important;
}


/**************************/
/*BUTTON*/
/*************************/


.btn-top-header {
  position: relative;
  vertical-align: top;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #00A7C9;
  border: 0;
  border-bottom: 3px solid #007DB1;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #007DB1;
  box-shadow: inset 0 -3px #007DB1;
}
.btn-top-header:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*STYLE ONE*/
.btn-header{
    width:100%;
    background-color:#00A7C9 !important;
    padding:15px !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif;   
}

.btn-header:hover{
    width:100%;
    background-color:#215B72 !important;
    padding:15px !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif;   
}

.btn-blue {
    width:100%;
    background-color:#00A7C9 !important;
    padding:15px !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif;   
}

.btn-blue:hover {
    width:100%;
    background-color:grey !important;
    padding:15px !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif;  
    color:#fff !important;
}

/**************************/
/*TRIANGLES*/
/*************************/

.scew-left-to-right{
    background: #215B72;
    position: relative;
}

.scew-left-to-right:before{
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
/*  height: 200px;*/
  background: #215B72;
  -webkit-transform: skewY(7.5deg);
  -moz-transform: skewY(7.5deg);
  -ms-transform: skewY(7.5deg);
  -o-transform: skewY(7.5deg);
  transform: skewY(7.5deg);
  -webkit-backface-visibility: hidden;
}

.scew-left-to-right-three{
    background: #215B72;
    position: relative;
}

.scew-left-to-right-three:before{
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 200px;
  background: #1F1F1F;
  -webkit-transform: skewY(7.5deg);
  -moz-transform: skewY(7.5deg);
  -ms-transform: skewY(7.5deg);
  -o-transform: skewY(7.5deg);
  transform: skewY(7.5deg);
  -webkit-backface-visibility: hidden;
}

.scew-right-to-left {
    background: #262626;
    position: relative;
}

.scew-right-to-left:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
/*    height: 200px;*/
    background: #262626;
    -webkit-transform: skewY(-7.5deg);
    -moz-transform: skewY(-7.5deg);
    -ms-transform: skewY(-7.5deg);
    -o-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-backface-visibility: hidden;
}

.scew-right-to-left-three {
    background: #262626;
    position: relative;
}

.scew-right-to-left-three:before {
    content: '';
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
    height: 250px;
    background: #1F1F1F;
    -webkit-transform: skewY(-10.5deg);
    -moz-transform: skewY(-10.5deg);
    -ms-transform: skewY(-10.5deg);
    -o-transform: skewY(-10.5deg);
    transform: skewY(-10.5deg);
    -webkit-backface-visibility: hidden;
}

.triangle-down{
    box-sizing: content-box;
    width: 50%; 
    height: 100px;
    padding-left:50%;
    padding-top: 40%; 
    overflow: hidden;
    position: relative;
    z-index: 20;
}

.triangle-down div {
    width: 0;
    height: 0;
    margin-left:-1000px; 
    margin-top:-190px; 
    border-left: 1000px solid transparent; 
    border-right: 1000px solid transparent; 
    border-top: 250px solid #262626; 
}

img.scew-img {
  -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 78%);
  clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 78%);
  height:400px;
  width:100%;
  position: relative;
  z-index: 400;
}

.scew-right-to-left-two{
    background: #262626;
    position: relative;
/*    overflow: hidden;*/
}

.scew-right-to-left-two:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
/*    height: 200px;*/
    background: #008CA6;
    -webkit-transform: skewY(-7.5deg);
    -moz-transform: skewY(-7.5deg);
    -ms-transform: skewY(-7.5deg);
    -o-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-backface-visibility: hidden;
}

/**************************/
/*WHY CHOOSE FUSER*/
/*************************/
.why-choose {
    position:relative; 
    z-index:600; 
    color:#fff !important; 
/*    margin-top:-300px;*/
}


/**************************/
/*Quote*/
/*************************/
.g-quote {
    position:relative; 
    z-index:400; 
    color:#000 !important; 
/*    margin-top:0px;*/
}




/**************************/
/*OWL */
/*************************/
#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}
#owl-demo .owl-item > div {
    padding: 0px 2px
}

/**************************/
/*FORM CONSTROL */
/*************************/

.form-control {
    background-color: #1F1F1F !important;
    border-radius: 0px !important;
    padding:20px !important;
    color:#979797 !important;
}

.form-control:active, .form-control:focus{
    background-color: #f5f5f5 !important;
    border-radius: 0px !important;
    padding:20px !important;
    color:#414141 !important;
}

.form-control:visited {
    color:#979797 !important;
}


/**************************/
/* ANIMATE */
/*************************/

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 1000ms ease-out;
  -webkit-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/**************************/
/*POP UP MODALS*/
/*************************/


.modal-sideone {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    height:60px;
    margin-top:55px;
}

.text-light {
    font-weight: 100;
    color: #fff;
    padding-top: 10px;
}

.btn-grey {
    background-color: #808080;
    color:#fff;
}

.btn-grey:hover {
    background-color: #565656;
    color:#fff;
}

.font-light {
    font-weight: 300;
}

.font200 {
    font-weight: 200;
}

.modal-register {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-open .modal-register {
  overflow-x: hidden;
  overflow-y: auto;
}

.pagination-custom {
    border-radius: 15px;
    width:50px;
    height:6px;
    padding:0px;
    background: #F8777A;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pagination-custom-active {
    border-radius: 15px;
    width:50px;
    height:6px;
    padding:0px;
    background: #fff; 
}

.slide-carousel {
    height:60px; 
    width:auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide-carousel-txt {
    text-align:center; 
    color:#fff; 
    font-weight:100; 
    margin:40px;
}

.owl-carousel {
    height:320px;
}
                
.item {
    background-color: #fff;
    height:320px; 
    padding-top: 60px;
}

.item-one{
    background-color: #ef4141
}

.item-two{
    background-color: #0066d2;
}
.item-three{
    background-color: #2b2e33;
}
.item-four{
    background-color: #ffad00;
}
.item-five{
    background-color: #ababab;
}




@media screen and (min-width:768px) {
  .v-center-2 {
    height: 30%;
    overflow: visible;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;      
  }
}

@media screen and (max-width:768px) {
  .v-center-2 {
    height: 30%;
    overflow: visible;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
}



.blue {
    background-color:#0066d2;
}

@media screen and (min-width:777px) {
  .modal-pop {
    height:400px;      
  }
}

@media screen and (max-width:777px) {
  .modal-pop {
    height:220px;
}
}

@media screen and (min-width:767px) {
  .modal-pop-r {
    height:450px;      
  }
}

@media screen and (max-width:767px) {
  .modal-pop-r {
    height:220px;
}
}


.red {
    background-color:#ef4141;
}

@media screen and (max-width:777px) {
  .modal-pop-white-r {
    background-color:#fff; 
    height:500px;
}
}

@media screen and (min-width:767px) {
  .modal-pop-white-r {
    background-color:#fff; 
    height:450px;      
  }
}





.btn-custom-dropdown {
  color: #9C9999;
  background-color: #fff;
  border-color: #CCCCCC;
  height:45px;
}

.btn-custom-dropdown:active,
.btn-custom-dropdown.active,
.open > .dropdown-toggle.btn-custom-dropdown {
  background-image: none;
}

.btn-custom-dropdown:active:hover,
.btn-custom-dropdown.active:hover,
.open > .dropdown-toggle.btn-custom-dropdown:hover,
.btn-custom-dropdown:active:focus,
.btn-custom-dropdown.active:focus,
.open > .dropdown-toggle.btn-custom-dropdown:focus,
.btn-custom-dropdown:active.focus,
.btn-custom-dropdown.active.focus,
.open > .dropdown-toggle.btn-custom-dropdown.focus {
  color: #9C9999;
  background-color: #fff;
  border-color: #CCCCCC;
}

.btn-custom-dropdown:active,
.btn-custom-dropdown.active,
.open > .dropdown-toggle.btn-custom-dropdown {
  color: #9C9999;
  background-color: #fff;
  border-color: #CCCCCC;
}

.btn-custom-dropdown:hover {
  color: #CCCCCC;
  background-color: #fff;
  border-color: #CCCCCC;;
}

.btn-custom-dropdown:focus,
.btn-custom-dropdown.focus {
  color: #CCCCCC;
  background-color: #fff;
  border-color: #CCCCCC;
}

.input-custom {
    text-align: left;
    margin-top: -7px;
    margin-left: -10px;
}

.center-v-slide {
    font-size:20px; 
    padding:2% 10% 2% 10%;
}



/**************************/
/*FOOTER */
/*************************/
.footer {
    background: #1F1F1F;
    height:800px;
    padding: 10px;
	color: #FFF;
    position: relative;
    z-index: 400;
}

.social-m {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.social-m a{
    color:#BCBCBC !important;
}
.social-m a:hover, .social-m a:active{
    color:#00A7C9 !important;
    text-decoration: none;
}

.copywrite {
    background-color: #000 !important;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

.search-choice-box-manual {
	display: block;
	background: #5bc0de;
	padding: 15px;
	font-size: 30px;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
}
