@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

/*color one #5D5D5D*/

/**************************/
/*LOADER*/
/*************************/

.pace-on .pace-overlay {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .5s 0s, height 0s .5s;
    -moz-transition: opacity .5s 0s, height 0s .5s;
    -o-transition: opacity .5s 0s, height 0s .5s;
    transition: opacity .5s 0s, height 0s .5s;
}

.pace-done .pace-overlay {
    opacity: 0;
    height: 0;
}

.pace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
    -webkit-transition: opacity .5s 0s, height 0s .5s;
    -moz-transition: opacity .5s 0s, height 0s .5s;
    -o-transition: opacity .5s 0s, height 0s .5s;
    transition: opacity .5s 0s, height 0s .5s;
    -webkit-pointer-events: none;
    pointer-events: none;
/*
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
*/
}

.pace-inactive {
    height: 0;
    opacity: 0;
}

.pace-dot .pace .pace-progress {
    -webkit-transform: translate3d(0, 0, 0)!important;
    -moz-transform: translate3d(0, 0, 0)!important;
    transform: translate3d(0, 0, 0)!important;
    position: fixed;
    width: 100%;
    height: 100%;
}

.pace-dot .pace-progress-inner {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    margin-left: -30px;
    margin-right: -30px;
    -webkit-animation: scaleout 1s infinite ease-in-out;
    animation: scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

.pace-minimal.pace-on {
    background-size: auto;
}

.pace-minimal.pace-on #content,
.pace-minimal.pace-on .menu,
.pace-minimal.pace-on .top-bar {
    visibility: visible;
}

.pace-minimal .pace .pace-progress {
    position: absolute;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-counter .pace .pace-progress {
    z-index: 2000;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 200px!important;
    margin-top: -50px;
    margin-left: -100px;
    line-height: 100px;
    font-size: 60px;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0)!important;
    -moz-transform: translate3d(0, 0, 0)!important;
    transform: translate3d(0, 0, 0)!important;
}

.pace-counter .pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
}

.pace-overlay {
    background: #00A7C9;
}

.pace-dot .pace-progress-inner,
.pace-minimal .pace .pace-progress {
    background: #fff;
}

/**************************/
/*GENERAL*/
/*************************/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txt-center {
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #5D5D5D !important;
    font-size: 30px !important;
}

h2 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #5D5D5D !important;
    font-size: 25px !important;
}

h3 {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #5D5D5D !important;
    font-size: 20px !important;
}

p {
    font-family: "Helvetica Neue", sans-serif;
    color: #5F5F5F;
    font-size: 15px;
}

p.caption {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300 !important;
    color: #959595 !important;  
}

hr {
    height: 3px !important;
    color: #1C1C1C;
    background: #1C1C1C;
    font-size: 0;
    border: 0 !important;
    margin-left: 32%;
    margin-right: 32%;
}

.hr-white {
    height: 3px !important;
    color: #fff;
    background: #fff;
    font-size: 0;
    border: 0 !important;
    margin-left: 32%;
    margin-right: 32%;
}

.center-align {
    text-align: center;
}

.white {
    color: rgba(255, 255, 255, 0.89) !important;
}


/**************************/
/*NAVBAR*/
/*************************/

.hero {
    background-image:url(../images/hero.png) !important;
    width: 100%;
    max-width: 100%;
    background-size:cover;
    position:relative;
}

.hero-content {
    margin-top:15%;
}

.hero-content > h1{
    margin-top:4%;
    margin-bottom: 3%;
}

.navbar-brand > img{
    height:30px;
    left:3% !important;
}


/**************************/
/*BUTTON*/
/*************************/

/*STYLE ONE*/
.btn-header{
    width:100%;
    background-color:#00A7C9 !important;
    padding:15px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 10px;
    border-radius: 0px !important;
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif; 
    
}

/**************************/
/*TRIANGLES*/
/*************************/
.scew-left-to-right{
    background: #215B72;
    position: relative;
}

.scew-left-to-right:before{
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
/*  height: 200px;*/
  background: #215B72;
  -webkit-transform: skewY(7.5deg);
  -moz-transform: skewY(7.5deg);
  -ms-transform: skewY(7.5deg);
  -o-transform: skewY(7.5deg);
  transform: skewY(7.5deg);
  -webkit-backface-visibility: hidden;
}

.scew-right-to-left {
    background: #262626;
    position: relative;
}

.scew-right-to-left:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
/*    height: 200px;*/
    background: #262626;
    -webkit-transform: skewY(-7.5deg);
    -moz-transform: skewY(-7.5deg);
    -ms-transform: skewY(-7.5deg);
    -o-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-backface-visibility: hidden;
}


.triangle-down{
    box-sizing: content-box;
    width: 50%; 
    height: 100px;
    padding-left:50%;
    padding-top: 40%; 
    overflow: hidden;
    position: relative;
    z-index: 20;
}
.triangle-down div {
    width: 0;
    height: 0;
    margin-left:-1000px; 
    margin-top:-190px; 
    border-left: 1000px solid transparent; 
    border-right: 1000px solid transparent; 
    border-top: 250px solid #262626; 
}





img.scew-img {
  -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 78%);
  clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 78%);
  height:400px;
  width:100%;
  position: relative;
  z-index: 400;
}


.scew-right-to-left-two{
    background: #262626;
    position: relative;
/*    overflow: hidden;*/
}


.scew-right-to-left-two:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
/*    height: 200px;*/
    background: #008CA6;
    -webkit-transform: skewY(-7.5deg);
    -moz-transform: skewY(-7.5deg);
    -ms-transform: skewY(-7.5deg);
    -o-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-backface-visibility: hidden;
}




/**************************/
/*WHY CHOOSE FUSER*/
/*************************/
.why-choose {
    position:relative; 
    z-index:300; 
    color:#fff !important; 
/*    margin-top:-300px;*/
}


/**************************/
/*Quote*/
/*************************/
.g-quote {
    position:relative; 
    z-index:400; 
    color:#000 !important; 
/*    margin-top:0px;*/
}




/**************************/
/*OWL */
/*************************/
#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}
#owl-demo .owl-item > div {
    padding: 0px 2px
}




body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0px;
	background: #5D5D5D;
}

a {	color:#E85D32; }

a:hover { }

a:visited { }

.left-4 {width:275px; float:left;}
.right-3 {width:855px; float:right;}
.padding10 {padding: 10px;}
.float-left {float:left;}
.float-right {float:right;}

.loginbar {background:#E9E9E9; color:#333; padding:7px; font-size:12px; text-align:right;}
.admin_links {float: left;}
.loginarea {float:right;}
.login-left {float:left;}
.login-right {float:right;}

.clear {clear:both;}

.header a {color: #676767;text-decoration:none;}
.header a:visited {color: #676767;}
.logo {text-align:left;padding-left: 20px;padding-top:0px;}
.logo img {margin:0px;padding:0px;}

.content {background: #FFF;min-height: 500px; padding-top: 50px;}
.content-box {max-width: 1400px; padding:20px; margin: auto; color:#606060;}
/*.content-box h1 {color:#00A5C8; font-size:36px;}*/


a .home-btn {color:#FFF; font-size:18px; font-weight:bold;}
a .home-btn:hover {background:#0E3E77;}
.home-btn {width:250px; background:#097EC2; padding: 15px 0px 15px 0px;}

.card-box{}
.cards {background:#FFF; border:#D1D1D1 solid 1px; border-radius:5px;}
.card1 {}
.card2 {float:left;width:47%;margin-right:2%;}
.card3 {float:left;width:30.6%;margin-right:2%;}
.card4 {float:left;width:22.5%;margin-right:2%;}

.menu-bar {background:#4A4A4A;}
.menu {list-style: none;margin: 0px;padding: 0px;}
.menu a {margin:0px;padding:0px;}
.menu a li {margin: 0px;display: block;float:left;padding:12px 40px 12px 40px;background:#4A4A4A;color: #FFF;font-size:14px;}
.menu li:hover {color: #FFF;background: #727272;}
.menu li:visited {color: #575757;}

.admin-menu {background: #eeeeee; padding: 20px 20px 10px 20px;}

.view-user {}
.view-user ul {margin: 0px;padding: 0px;list-style: none;}
.view-user ul li {display: block;background: #FFF;padding: 5px;margin-bottom: 5px;border: 1px solid #ECECEC;border-radius: 5px;}
.view-user ul li p {display: inline-block;margin:0px;padding:0px;width: 170px;font-weight:bold;}

.search-choice-bkg {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQIW2N89uzZfwYcgBEkycXFhVV60EkCALuOGpOTOEMrAAAAAElFTkSuQmCC);
	min-height: 500px;
}

.search-choice-box-auto {display: block; background: #5cb85c; padding: 15px; font-size: 30px; color: #FFF; text-align: center; border-radius: 10px;}
.search-choice-box-auto:hover {background: #449d44; color: #FFF; text-decoration: none;}

.search-choice-box-manual {
	display: block;
	background: #5bc0de;
	padding: 15px;
	font-size: 30px;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
}

.search-choice-box-manual:hover {
	background: #31b0d5;
	color: #FFF;
	text-decoration: none;
}

.search-choice-description {
	padding: 15px;
}

.footer {
	background: #3E3E3E;
	padding: 10px;
	color: #FFF;
}

.vspace10 {height: 10px;}

.question-child {color: #6A6A6A;}

.footer-menu {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.footer-menu ul li {
	display: inline-block;
	margin: 5px 20px 5px 20px;
}

.childq {
	padding-left: 20px;
}

.btn-wizard-select {display: block; background: #5bc0de; padding: 25px 0px 25px 0px; font-size: 30px; color: #FFF; text-align: center; border-radius: 10px;}
.btn-wizard-select:hover {background: #31b0d5; color: #FFF; text-decoration: none;}